# Stellar Network Configuration
VITE_STELLAR_RPC_URL=
VITE_STELLAR_NETWORK_PASSPHRASE=

# Soroban Smart Contract IDs
VITE_RECORDS_CONTRACT_ID=
VITE_VERIFICATION_CONTRACT_ID=

# IPFS Configuration (Pinata)
VITE_PINATA_JWT=
VITE_PINATA_GATEWAY=
